.headerContainer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 62px;
}

.header-to{
    overflow-y: auto;
    margin-right: 10px;
}

.header-separator{
    width: calc(75% - 20px);
    overflow-y: auto;
}

.header-todo{
    overflow-y: auto;
    margin-left: 10px;
}